*.o
*.obj
*.exe
*.out

.idea
build

#
# MacOS
#
.DS_Store
.localized
__MACOSX/
.AppleDouble
._*

#
# Visual Studio Code
#
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
# Built Visual Studio Code Extensions
*.vsix

#
# PlatformIO
#
.pio
.pioenvs
.piolibdeps

# Local working notes
notes/
